<link rel="stylesheet" href="../public/css/footer.css">
<footer>
    <img src="../public/images/hp-images/logoWhite_long.png" alt="">
    <p>&copy; 2024, HofficePay. <br>Todos os direitos reservados.</p>
    
    <div class="contact-content"> 
        <ul>
            <li><a href="/">Contato</a></li>
            <li><a href="/">Termos</a></li>
        </ul>
        <div id="social-contacts">
            <a target=”_blank” href="https://www.instagram.com/hofficepay/" class="contact-link" id="instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <a target=”_blank” href="#" class="contact-link" id="youtube">
                <i class="fa-brands fa-youtube"></i>
            </a>

            <a target=”_blank” href="https://www.instagram.com/hofficepay/" class="contact-link" id="linkedin">
                <i class="fa-brands fa-facebook"></i>
            </a>

        </div>
    </div>
</footer>