<link rel="stylesheet" href="../public/css/header.css">
<header>
    <img src="../public/images/hp-images/logoWhite_long.png" alt="">
    <nav>
        <ul>
            <li><a href="#beginning">Inicio</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#products">Produtos</a></li>
        </ul>
    </nav>
    <div>
        <a href="/register">Cadastro</a>
        <a href="/login">Entrar</a>
    </div>
</header>