<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RatePay</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="../public/images/hp-images/estrela.png" type="image/png">
    <link rel="stylesheet" href="../public/css/styles.css">
    <script type="module" src="../public/js/index.js"></script>
</head>
<body>
    <%- include('header') %>
    
    <main>
        <section id="beginning">
            <h1>Bem-vindo ao RatePay!</h1>
        </section>

        <section id="about">
            <h1>A RatePay</h1>
            <p>Conectando <strong> grandes marcas </strong>  a <strong> influenciadores </strong> e oferecendo a melhor solução para seus <strong>Infoprodutos</strong> e <strong>E-Commerce.</strong>
            <p>Aqui seu <strong>conhecimento vale Ouro!</strong> Recursos de produtores para produtores.</p>
            <p><strong>Quebrem as barreiras</strong> de vendas com as ferramentas <strong>corretas.</strong></p>
        </section>

        <section id="products">
            <h1>Produtos</h1>
            <div id="product-container">
            </div>
        </section>
    </main>

    <%- include('footer') %>
</body>
</html>
