<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="../public/images/hp-images/logo_icon.png" type="image/png">
    <link rel="stylesheet" href="../public/css/login.css">
    
    <title>Entrar - HofficePay</title>
</head>
<body>   
    <main id="container">
        <form id="login_form" action="/auth/login" method="POST" onsubmit="return validateForm()">
            <div id="form_header">
                <a href="/">
                    <img id="mode_icon" src="../public/images/hp-images/logo_icon.png"></img>
                </a>
                <h1>Login</h1>
            </div>

            <div id="social_media">
                <a href="#">
                    <img src="https://logopng.com.br/logos/facebook-13.svg" alt="">
                </a>

                <a href="#">
                    <img src="https://logopng.com.br/logos/google-37.png" alt="">
                </a>
                
            </div>

            <div id="inputs">
                <div class="input-box">
                    <label for="login">
                        Login
                        <div class="input-field">
                            <i class="fa-solid fa-user"></i>
                            <input class="placeholder" type="text" id="login" name="login" placeholder="Digite seu usuário ou e-mail">
                        </div>
                    </label>
                </div>
                
                <div class="input-box">
                    <label for="password">
                        Senha
                        <div class="input-field">
                            <i class="fa-solid fa-key"></i>
                            <input class="placeholder" type="password" id="password" name="password" placeholder="Digite sua senha">
                        </div>
                    </label>
                    
                    <div id="forgot_password">
                        <a href="#">
                            Esqueceu sua senha?
                        </a>
                    </div>
                </div>
            </div>

            <button type="submit" id="login_button">
                Login
            </button>
            <h3>Não possui conta? <a id="register" href="/register">Criar Conta!</a></h2>
        </form>
    </main>
</body>
</html>
<script>
    function validateForm() {
        const login = document.getElementById('login').value;
        const password = document.getElementById('password').value;
    
        if (login === "" || password === "") {
            alert("Por favor, preencha todos os campos.");
            return false;
        }
    
        return true;
    }
</script>