<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RatePay</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="../public/images/hp-images/Logo.png" type="image/png">
    <link rel="stylesheet" href="../public/css/product.css">
    <script type="module" src="../public/js/product.js"></script>
</head>
<body data-id="<%= id %>">
    <%- include('header') %>
    
    <main>
        <article id="product-container">
            
        </article>
    </main>

    <%- include('footer') %>
</body>
</html>
