<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="../public/images/hp-images/logo_icon.png" type="image/png">
    <link rel="stylesheet" href="../public/css/register.css">
    
    <title>Registro - HofficePay</title>
</head>
<body>
    <main id="container">
        <form id="login_form" action="/auth/register" method="POST" onsubmit="return validateForm()">
            <div id="form_header">
                <a href="/">
                    <img id="mode_icon" src="../public/images/hp-images/logo_icon.png"></img>
                </a>
                <h1>Registro</h1>
            </div>

            <div id="inputs">
                <div class="input-box">
                    <label for="name">
                        Nome Completo
                        <div class="input-field">
                            <i class="fa-regular fa-user"></i>
                            <input class="placeholder" type="text" id="name" name="name" placeholder="Digite seu nome completo">
                        </div>
                    </label>
                </div>
                <div class="input-box">
                    <label for="username">
                        Usuário
                        <div class="input-field">
                            <i class="fa-solid fa-user"></i>
                            <input class="placeholder" type="text" id="username" name="username" placeholder="Digite seu usuário">
                        </div>
                    </label>
                </div>
                <div class="input-box">
                    <label for="email">
                        E-mail
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <input class="placeholder" type="text" id="email" name="email" placeholder="Digite seu e-mail">
                        </div>
                    </label>
                </div>
                <div class="input-box">
                    <label for="password">
                        Senha
                        <div class="input-field">
                            <i class="fa-solid fa-key"></i>
                            <input class="placeholder" type="password" id="password" name="password" placeholder="Digite sua senha">
                        </div>
                    </label>
                </div>
                <div class="input-box">
                    <label for="confirmedPassword">
                        Confirme a senha
                        <div class="input-field">
                            <i class="fa-solid fa-lock"></i>
                            <input class="placeholder" type="password" id="confirmedPassword" name="confirmedPassword" placeholder="Digite sua senha novamente">
                        </div>
                    </label>
                </div>
            </div>

            <button type="submit" id="login_button">
                Registro
            </button>
            <h3>Já possui uma conta? <a id="register" href="/login">Entrar!</a></h2>
        </form>
    </main>
</body>
</html>
<script>
    function validateForm() {
        const login = document.getElementById('login').value;
        const username = document.getElementById('username').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const confirmedPassword = document.getElementById('confirmedPassword').value;

    
        if (login === "" || username === "" || email === "" || password === "" || confirmedPassword === "") {
            alert("Por favor, preencha todos os campos.");
            return false;
        }

        if(password != confirmedPassword){
            alert("As senhas não coincidem. Por favor, verifique e tente novamente.");
            return false;
        }
    
        return true;
    }
</script>