* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

:root {
    --primary-color: #4D42F8;
    --secondary-color: #ffffff;
    --tertiary-color: #EEEEEE;
    --accent-color: #000000; 
    --header-color: #282c34;

    --color-light-50: #f8fafc;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    --color-purple-50: #28389f;
    --color-purple-100: #2161b5;
    --color-purple-200: #78add1;

    --color-gradient: linear-gradient(90deg,#4D42F8, #6262f6, var(--color-purple-200));
}

footer {
    background-color: var(--header-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer img {
    height: 70px;
    margin: 10px;
}

footer p {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
}

footer .contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

footer .contact-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .contact-content ul li {
    margin: 5px 0;
}

footer .contact-content ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

footer .contact-content a {
    color: var(--secondary-color);
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5rem;
}

#social-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#social-contacts .contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #f5f5f5;
    border-radius: 50%;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#youtube {
    background-color: #e60000;
}

#linkedin {
    background-color: #4267b3;
}

@media (min-width: 768px) {
    footer {
        flex-direction: row;
    }

    footer .contact-content {
        flex-direction: row;
    }

    footer .contact-content ul {
        flex-direction: row;
    }
}

@media (max-width: 767px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    footer .contact-content {
        flex-direction: column;
    }

    footer .contact-content ul {
        flex-direction: column;
    }
}
